<%- include("partials/header") %>

<div class = "container">
	<h1 style = "text-align: center">Welcome New User! Sign up here</h1>
	<div class = "row">
		<div style = "width: 30%; margin: 40px auto" >
			<form action = "/register" method = "POST">
				<div class = "form-group">
					<input class = "form-control" type = "text" placeholder = "Username" name = "username">
				</div>
				<div class = "form-group">
					<input class = "form-control" type = "password" placeholder = "Password" name = "password">
				</div>
				<div class = "form-group">
					<input class = "btn-grad btn btn-default btn-lg btn-block" type = "submit">
				</div>
			</form>
			<a class = "btn-grad btn btn-default btn-sm" href = "/">Home</a>
			<a class = "btn-grad btn btn-default btn-sm" href = "/login">Already a user? Login!</a>
		</div>
		
	</div>
</div>
<%- include("partials/footer") %>
